a:link {color: #D8570B;
		
	   text-decoration: none; 
		font-family: Lucida calligraphy;
		
	   }

a:visited {color: #D8570B;
		 
			font-family: Lucida calligraphy;
          text-decoration: none; }
a:hover {
		color:white;
		font-family: Lucida calligraphy;
		
		text-decoration:underline;
		}


td
{
	color: white;
	
}
body
{
	background-image:url('../image/bg3.jpg'); 
	background-repeat: no-repeat; 
/*	background-size: 1800px 1000px;*/
}
p
{
	font-family: cambria;
	font-size: 16px;
}
hr
{
	color: #D8570B;
	border-color: #D8570B;
	
	
}
#main_tb
{
	background-color: black;
}
#tab
{
	color: #D8570B;
  
}	
#title
{
	color: #D8570B;
	font-size: 19px;
	font-family: Lucida calligraphy;
}
#front_teabg
{
	box-shadow: 0px 0px 65px #D8570B;
	-moz-box-shadow: 0px 0px 65px #D8570B;
	-webkit-box-shadow: 0px 0px 65px #D8570B;
	border-radius: 12px 12px 12px 12px;
}
#ph_gl
{
	padding: 5px;
	border-radius: 12px 12px 12px 12px;
}
#ph_gl:hover
{
 	box-shadow: 0px 0px 55px #D8570B;
	-moz-box-shadow: 0px 0px 55px #D8570B;
	-webkit-box-shadow: 0px 0px 55px #D8570B;	
}
#gl_display
{
	border-radius: 12px 12px 12px 12px;
	box-shadow: 0px 0px 55px #D8570B;
	-moz-box-shadow: 0px 0px 55px #D8570B;
	-webkit-box-shadow: 0px 0px 55px #D8570B;	
}
.slideshow
{
	height: 250px; width: 100%; margin: 0px;
	box-shadow: 0px 0px 65px #D8570B;
	border-radius: 12px 12px 12px 12px;
	
}
.slideshow img
{
	border: 0px solid #ccc; background-color: #eee; 
	height:100%;
	
	border-radius: 12px 12px 12px 12px;
	
}

#pht:hover
{
	background-image: url('../image/click.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	
}
#home:hover
{
	background-image: url('../image/click.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	
}

#menu:hover
{
	background-image: url('../image/click.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
}
#about:hover
{
	background-image: url('../image/click.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
}
#contact:hover
{
	background-image: url('../image/click.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
}
#location:hover
{
	background-image: url('../image/click.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
}
